//
// accordion.scss
//

.accordion {
    .accordion-button {
        font-weight: var(--#{$prefix}font-weight-medium);
    }

    .accordion-body {
        color: var(--#{$prefix}secondary-color);
    }

    &.accordion-icon-none {
        .accordion-button {
            &::after {
                content: "";
                background-image: none !important;
            }

            &:not(.collapsed) {
                &::after {
                    content: "";
                }
            }
        }
    }
}

// Accordion with icon
.custom-accordionwithicon {
    .accordion-button {
        &::after {
            background-image: none !important;
            font-family: "tabler-icons";
            content: "\ea5f";
            font-size: 1.1rem;
            vertical-align: middle;
            line-height: 0.8;
        }

        &:not(.collapsed) {
            &::after {
                background-image: none !important;
                content: "\ea5f";
                margin-right: -3px;
            }
        }
    }
}

// Accordion with plus icon

.custom-accordionwithicon-plus {
    .accordion-button {
        &::after {
            background-image: none !important;
            font-family: "tabler-icons";
            content: "\eb0b";
            font-size: 1.1rem;
            vertical-align: middle;
            line-height: 0.8;
        }

        &:not(.collapsed) {
            &::after {
                background-image: none !important;
                content: "\eaf2";
                margin-right: -3px;
            }
        }
    }
}


// left Icon accordion

.lefticon-accordion {
    .accordion-button {
        padding-left: 2.75rem;

        &::after {
            position: absolute;
            left: $accordion-button-padding-x;
            top: 14px;
        }

        &:not(.collapsed) {
            &::after {
                top: 20px;
            }
        }
    }
}

// border accordion

.accordion-border-box {
    .accordion-item {
        border-top: $accordion-border-width solid $accordion-border-color;
        border-radius: $accordion-border-radius;

        &:not(:first-of-type) {
            margin-top: 8px;
        }

        .accordion-button {
            border-radius: $accordion-border-radius;

            &:not(.collapsed) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}

.custom-accordion-border {
    .accordion-item {
        border-left: 3px solid $accordion-border-color;
    }
}

// rtl
[dir="rtl"] {
    .custom-accordionwithicon {
        .accordion-button::after {
            transform: rotate(180deg);
        }
    }
}

//accordion Color 
@each $state in map-keys($theme-colors) {
    .accordion-#{$state} {
        .accordion-item {
            border-color: var(--#{$prefix}#{$state}-border-subtle);

            .accordion-button {
                box-shadow: none;

                &:not(.collapsed) {
                    color: var(--#{$prefix}#{$state});
                    background-color: var(--#{$prefix}#{$state}-bg-subtle) !important;
                }

                &::after {
                    color: var(--#{$prefix}#{$state});
                }
            }
        }
    }

    .accordion-fill-#{$state} {
        .accordion-item {
            .accordion-button {
                box-shadow: none;

                &:not(.collapsed) {
                    background-color: var(--#{$prefix}#{$state}) !important;
                }
            }
        }
    }
}

@each $color,
$value in $theme-colors {

    .accordion-fill-#{$color} {
        --#{$prefix}accordion-active-color: #{color-contrast($value)};
    }
}